@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,800;1,100;1,400&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

#contacto,
#index {
    background-image: url(../imagenes/fondo-contacto.png);
    background-size: cover;
}

h1 {
    color: red;
}

p {
    color: #6a6a6a;
}

.btn {
    color: blueviolet;
    background-color: aliceblue;
    border-radius: 8px;
    border: 0px;
}

.btn:hover {
    color: white;
    background-color: blueviolet;
}

main {
    min-height: 550px;
}

footer {
    color: white;
}

footer a {
    color: white;
}

footer.fa-github {
    font-size: 30px;
    color: white;
}

footer.fa-linkedin {
    color: #ff4a49;
    background-color: white;
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

.btn-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 0px;

    font-size: 30px;

    background-color: purple;
    background-size: auto;
    padding: 10px;
    border-radius: 8px;
    color: white;

}

#proyecto {
    background-image: url(../imagenes/fondo-proyectos.png);
    background-size: cover;



    font-size: 16px;

    color: red;

}

#proyecto h2 {
    color: white;
    background: rgb(238, 238, 241);

    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);
}

#proyecto footer {
    color: red;
}


#poyecto a {
    color: red;
}

#tabla .border {
    height: 420px;
}

#proyecto .fa-github {
    font-size: 30px;
    color: red;
}

#proyecto .fa-linkedin {
    color: #f5eeee;
    background-color: rgb(243, 32, 32);
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

#btn-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 0px;

    font-size: 30px;


}

#footer a {
    color: red;


}


.btn-rojo {
    border-radius: 80px;

    color: white;
    background-color: rgba(207, 18, 18, 0.863);

}

#index img {
    height: 400px;
    width: auto;


}

#index img:hover {
    height: 410px;
}

.cohete {
    height: 410px;
}

#index p {
    color: white;
    font-size: 17px;
    border: 1px white solid;
    border-radius: 15px;
  
    font-weight: 600;
    


}
#index .fa-github{
    font-size: 30px;
    border-radius: 100%;
   
    color: white;

}
 #index .fa-linkedin {
     color:red;
     background-color: white;
     font-size: 20px;
     border: 0px;
     height: 32px;
     width: 32px;
     text-align: center;
     padding: 8px 0 0 0;
     border-radius: 80px;
     margin: 0 8px;
 }

 
 #index .btn-whatsapp {
     position: fixed;
     right: 50px;
     bottom: 0px;

     font-size: 30px;
     background-color: purple;
     background-size: auto;
     padding: 10px;
     border-radius: 8px;

 }


 #index footer a {
     color:white;


 }

 
 #index footer {
     color: white;
 }























.fondo img {
    height: 300px;

    width: 300px;

    border-radius: 100%;
}




/*//////////////////////////*/
#stack-tecnologico {
    background: linear-gradient(to right, rgba(184, 37, 20, 1) 0%, rgba(214, 52, 30, 1) 47%, rgba(240, 47, 23, 1) 70%, rgba(240, 47, 23, 1) 100%);



}

#stack-tecnologico h2 {
    font-size: 24px;
    color: white;
}

#stack-tecnologico h3 {
    font-size: 14px;
    color: black;
    font-weight: 300px;
}

#stack-tecnologico .tecnologia {
    height: 182px;
    border-radius: 10px;
    background-color: #eeee;
}




.boton {
    background-color: red;
}




#experiencia h2 {
    font-size: 24px;
    font-weight: 400;
    color: #370a6d;

}

#experiencia h3 {
    font-size: 18px;
    font-weight: 400;
    color: #6a6a6a;

}

#experiencia h4 {
    font-size: 17px;
    font-weight: 400;
    color: #370a6d;
}

#experiencia h5 {
    font-size: 14px;

    color: #6a6a6a;

}
#formacioAcademica h2{
    font-size: 24px;
    font-weight: 400;
    color: red;
    
}
#formacioAcademica h3 {
    font-size: 18px;
    font-weight: 400;
    color:#6a6a6a;

}
#formacioAcademica h4 {
    font-size: 17px;
    font-weight: 400;
    color: red;

}
#formacioAcademica h5{
    font-size:14px ;
    font-weight: 400;
    color: #6a6a6a;
}
#idioma{

    background-color: #c9c0c0;
}
#idioma i{
    font-size: 100px;
    color: white;
}

#idioma .bg{
    background-color: purple;
    border-radius: 20px;

}
#idioma .bgw{
    background-color: white;
    border-radius: 20px;
}
#idioma h2{
    font-size: 24px;
    color: black;
}
#idioma h3{
    font-size: 16px;
    color: black;
}


.gris {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.gris:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}

#sobre-mi .fa-github {
    font-size: 30px;
    color: red;
}

#sobre-mi .fa-linkedin {
    color: #f5eeee;
    background-color: rgb(243, 32, 32);
    font-size: 20px;
    border: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 80px;
    margin: 0 8px;
}

#sobre-mi .btn-whatsapp {
    position: fixed;
    right: 50px;
    bottom: 0px;

    font-size: 30px;
    background-color: purple;
    background-size: auto;
    padding: 10px;
    border-radius: 8px;
    color: white;

}

#sobre-mi footer a {
    color: red;


}

#sobre-mi footer {
    color: red;
}






@media (max-width:750px) {

    #contacto,
    #index {

        background-image: url(../imagenes/fondo-proyectos.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* #contacto{
        background-image: url(../imagenes/fondo-proyectos.png);
        background-size: cover;

    }*/
    #index p {
        
        color: #E20000;
        font-size: 16px;
        border: 1px #E20000 solid;


    }


    #proyecto {

        background-size: contain;
        background-repeat: no-repeat;
    }





    #contacto .fa-github,
    #index .fa-github {
        font-size: 30px;
        color: red;
    }

    #contacto .fa-linkedin,
    #index .fa-linkedin {
        color: #f5eeee;
        background-color: rgb(243, 32, 32);
        font-size: 20px;
        border: 0px;
        height: 32px;
        width: 32px;
        text-align: center;
        padding: 8px 0 0 0;
        border-radius: 80px;
        margin: 0 8px;
    }

    #contacto .btn-whatsapp,
    #index .btn-whatsapp {
        position: fixed;
        right: 50px;
        bottom: 0px;

        font-size: 30px;
        background-color: purple;
        background-size: auto;
        padding: 10px;
        border-radius: 8px;

    }
    

    #contacto footer a,
    #index footer a {
        color: red;


    }

    #contacto footer,
    #index footer {
        color: red;
    }

    #idioma i{
        font-size: 70px;
    }














}